/* .container {
  margin: 10px;
  padding: 10px;
} */
h3 {
  text-transform: uppercase;
  text-align: center;
}
article > P {
  text-align: center;
}
article ul {
  display: flex;
  list-style: none;
  padding: 0;
}
article ul li {
  width: 25%;
}
